
@{
    ViewBag.Title = "SizeChart";
    Layout = "~/Views/Shared/_LayoutSizeChart.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 pd5">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 class="article_name" style="text-align: center; font-size: 30px" data-mce-style="text-align: center;">CÁCH ĐO CỠ CHÂN VÀ XÁC ĐỊNH SIZE GIÀY VIỆT NAM, US, UK CHUẨN XÁC<br></h1>

            <p style="text-align: center;" data-mce-style="text-align: center;">
                <img alt="Cách đo cỡ chân và xác định size giày Việt Nam, US, UK chuẩn xác" src="https://cdn.shopify.com/s/files/1/1472/9264/articles/measurement-millimeter-centimeter-meter-162500_2048x.jpeg?v=1498491975" data-src="//cdn.shopify.com/s/files/1/1472/9264/articles/measurement-millimeter-centimeter-meter-162500_2048x.jpeg?v=1498491975" class="lazyload--fade-in lazyloaded" sizes="100vw" srcset="  //cdn.shopify.com/s/files/1/1472/9264/articles/measurement-millimeter-centimeter-meter-162500_2048x.jpeg?v=1498491975 2048w,
                            //cdn.shopify.com/s/files/1/1472/9264/articles/measurement-millimeter-centimeter-meter-162500_1600x.jpeg?v=1498491975 1600w,
                            //cdn.shopify.com/s/files/1/1472/9264/articles/measurement-millimeter-centimeter-meter-162500_1200x.jpeg?v=1498491975 1200w,
                            //cdn.shopify.com/s/files/1/1472/9264/articles/measurement-millimeter-centimeter-meter-162500_1000x.jpeg?v=1498491975 1000w,
                            //cdn.shopify.com/s/files/1/1472/9264/articles/measurement-millimeter-centimeter-meter-162500_800x.jpeg?v=1498491975 800w,
                            //cdn.shopify.com/s/files/1/1472/9264/articles/measurement-millimeter-centimeter-meter-162500_600x.jpeg?v=1498491975 600w,
                            //cdn.shopify.com/s/files/1/1472/9264/articles/measurement-millimeter-centimeter-meter-162500_400x.jpeg?v=1498491975 400w" data-mce-src="https://cdn.shopify.com/s/files/1/1472/9264/articles/measurement-millimeter-centimeter-meter-162500_2048x.jpeg?v=1498491975">
            </p>
            <p style="text-align: justify; font-size: 16px" data-mce-style="text-align: justify;">Chọn đươc giày vừa size luôn là một bài toán khó đối với các khách hàng thường xuyên mua giày online. Đặc biệt khi chọn giày thể thao bạn cần size vừa vặn để tăng hiệu quả luyện tập. Đôi khi chỉ vì xác định sai kích cỡ chân của mình mà bạn phải nhận về những đôi giày tuy đẹp mắt nhưng không thể mang vừa và đành phải cất chúng vào tủ hay nhượng lại cho người khác với mức giá rẻ hơn. Vậy thì hãy cùng Hàng Chính Hãng Giá Rẻ thực hiện nhanh những bước sau đây để tìm ra size giày chuẩn xác nhất dành cho mình nhé.</p>

            <h2>CHUẨN BỊ</h2>
            <ul><li style="text-align: justify; font-size: 16px"><span></span>1 tờ giấy trắng lớn, phải to hơn bàn chân bạn</li><li style="text-align: justify; font-size: 16px" data-mce-style="text-align: justify;"><span></span>1 cây bút chì</li><li style="text-align: justify; font-size: 16px" data-mce-style="text-align: justify;"><span></span>1 cây thước đo</li></ul>

            <h2 style="text-align: justify; font-size: 16px" data-mce-style="text-align: justify;">CÁCH THỰC HIỆN</h2>
            <strong><em><b><i>Quy ước:</i></b></em></strong>
            <ul style="text-align: justify; font-size: 16px" data-mce-style="text-align: justify;"><li><span></span>Cỡ giày là N</li><li><span></span>Chiều dài bàn chân là L</li></ul>
            <h5 style="text-align: justify; font-size: 25px " data-mce-style="text-align: justify;">B1: VẼ KÍCH CỠ CHÂN</h5>

            <ul style="text-align: justify; font-size: 16px" data-mce-style="text-align: justify;"><li><span></span>Bạn đặt tờ giấy xuống sàn nhà, sau đó đặt bàn chân của bạn thật chắc chắn lên tờ giấy.</li><li><span></span>Dùng bút chì để vẽ lại khung bàn chân của mình cho thật chuẩn. Bạn nên giữ bút chì thẳng đứng và vuông góc với tờ giấy để vẽ được chính xác hơn.</li></ul>

            <p style="text-align: justify; font-size: 16px" data-mce-style="text-align: justify;">**Lưu ý: Bạn phải luôn giữ bàn chân ở vị trí cũ và không được di chuyển bàn chân ngay khi dừng bút chì giữa chừng.</p>

            <img src="https://cdn.shopify.com/s/files/1/1472/9264/files/do_giay_b1.jpg?v=1498491162" alt="đo size giày bước 1" data-mce-src="https://cdn.shopify.com/s/files/1/1472/9264/files/do_giay_b1.jpg?v=1498491162">

            <h5 style="text-align: justify; font-size: 25px" data-mce-style="text-align: justify;">B2: ĐÁNH DẤU CÁC SỐ ĐO CHIỀU DÀI VÀ CHIỀU RỘNG</h5>
            <p style="text-align: justify; font-size: 16px" data-mce-style="text-align: justify;">Bạn sử dụng bút chì để vẽ một đường thẳng để chạm vào các điểm trên cùng, dưới cùng và 2 bên của bản phác thảo bàn chân như hình ảnh dưới để chúng ta đo chiều dài chân.</p>

            <img src="https://cdn.shopify.com/s/files/1/1472/9264/files/do_giay_B2.jpg?v=1498491251" alt="đo size giày bước 2" data-mce-src="https://cdn.shopify.com/s/files/1/1472/9264/files/do_giay_B2.jpg?v=1498491251">
            <h5 style="text-align: justify; font-size: 25px" data-mce-style="text-align: justify;">B3: XÁC ĐỊNH CHIỀU DÀI BÀN CHÂN (L)</h5>

            <p style="text-align: justify; font-size: 16px" data-mce-style="text-align: justify;">Bạn sử dụng thước kẻ để đo chiều dài từ phía dưới dòng kẻ trên đến dòng kẻ dưới mà bạn đã vẽ. Sau khi đo xong, bạn có thể làm tròn số trong khoảng 0.5cm. Bạn nên làm tròn xuống để trừ hao cho những sai lệch khi vẽ khuôn chân vì các đường kẻ thường chênh lên một chút so với kích thước thật của bàn chân bạn.</p>

            <p style="text-align: justify; font-size: 16px" data-mce-style="text-align: justify;">**Lưu ý khi đo: bạn phải đo trên đường thẳng vuông góc với hai đường kẻ trên và dưới.</p>
            <img src="https://cdn.shopify.com/s/files/1/1472/9264/files/Do_giay_b3_8ff6184e-4160-448b-84a7-4bdc75af2c99.jpg?v=1498491704" alt="đo size giày bước 3" data-mce-src="https://cdn.shopify.com/s/files/1/1472/9264/files/Do_giay_b3_8ff6184e-4160-448b-84a7-4bdc75af2c99.jpg?v=1498491704">

            <h5 style="text-align: justify; font-size: 25px" data-mce-style="text-align: justify;">B4: TÌM VÀ CHỌN SIZE GIÀY PHÙ HỢP</h5>
            <p style="text-align: justify; font-size: 16px" data-mce-style="text-align: justify;">Ghi con số mà bạn đo được vào tờ giấy, rồi áp dụng công thức sau để xác định size giày của mình trên thang đo: N = L+1.5 cm = cỡ giày</p>
            <p style="text-align: justify; font-size: 16px" data-mce-style="text-align: justify;">Ví dụ: Bạn đo được L= 23 cm =&gt; N= 23cm + 1.5cm= 24.5 cm. Vậy cỡ giày của bạn là 24.5 cm. Dựa vào bảng đo dưới đây bạn sẽ xác định được cỡ giày Nam là size 39 và cỡ giày Nữ là 42.</p>

            <h2 style="text-align: center;" data-mce-style="text-align: center;">QUY ĐỔI SIZE GIÀY NỮ</h2>

            <table class="mce-item-table" style="margin-left: auto; margin-right: auto;" data-mce-style="margin-left: auto; margin-right: auto;">
                <tbody style="font-size: 14px">
                    <tr>
                        <td width="93"><p><strong><b>Centimet</b></strong></p></td>
                        <td width="77"><p><strong><b>Size US</b></strong></p></td>
                        <td width="81"><p><strong><b>Size VN</b></strong></p></td>
                        <td width="82"><p><strong><b>Size UK</b></strong></p></td>
                        <td width="87"><p><strong><b>Inches</b></strong></p></td>
                    </tr>
                    <tr>
                        <td width="93"><p>20.8</p></td>
                        <td width="77"><p>4</p></td>
                        <td width="81"><p>34-35</p></td>
                        <td width="82"><p>2</p></td>
                        <td width="87"><p>8.1875"</p></td>
                    </tr>
                    <tr>
                        <td width="93"><p>21.3</p></td>
                        <td width="77"><p>4.5</p></td>
                        <td width="81"><p>35</p></td>
                        <td width="82"><p>2.5</p></td>
                        <td width="87"><p>8.375"</p></td>
                    </tr>
                    <tr><td width="93"><p>21.6</p></td><td width="77"><p>5</p></td><td width="81"><p>35-36</p></td><td width="82"><p>3</p></td><td width="87"><p>8.5"</p></td></tr>
                    <tr>
                        <td width="93"><p>22.2</p></td>
                        <td width="77"><p>5.5</p></td>
                        <td width="81"><p>36</p></td>
                        <td width="82"><p>3.5</p></td>
                        <td width="87"><p>8.75"</p></td>
                    </tr>
                    <tr><td width="93"><p>22.2</p></td><td width="77"><p>5.5</p></td><td width="81"><p>36</p></td><td width="82"><p>3.5</p></td><td width="87"><p>8.75"</p></td></tr>
                    <tr>
                        <td width="93"><p>22.5</p></td>
                        <td width="77"><p>6</p></td>
                        <td width="81"><p>36-37</p></td>
                        <td width="82"><p>4</p></td>
                        <td width="87"><p>8.875"</p></td>
                    </tr>
                    <tr>
                        <td width="93"><p>23</p></td>
                        <td width="77"><p>6.5</p></td>
                        <td width="81"><p>37</p></td>
                        <td width="82"><p>4.5</p></td>
                        <td width="87"><p>9.0625"</p></td>
                    </tr>
                    <tr><td width="93"><p>23.5</p></td><td width="77"><p>7</p></td><td width="81"><p>37-38</p></td><td width="82"><p>5</p></td><td width="87"><p>9.25"</p></td></tr>
                    <tr><td width="93"><p>23.8</p></td><td width="77"><p>7.5</p></td><td width="81"><p>38</p></td><td width="82"><p>5.5</p></td><td width="87"><p>9.375"</p></td></tr>
                    <tr><td width="93"><p>24.1</p></td><td width="77"><p>8</p></td><td width="81"><p>38-39</p></td><td width="82"><p>6</p></td><td width="87"><p>9.5"</p></td></tr>
                    <tr><td width="93"><p>24.6</p></td><td width="77"><p>8.5</p></td><td width="81"><p>39</p></td><td width="82"><p>6.5</p></td><td width="87"><p>9.6875"</p></td></tr>
                    <tr><td width="93"><p>25.1</p></td><td width="77"><p>9</p></td><td width="81"><p>39-40</p></td><td width="82"><p>7</p></td><td width="87"><p>9.875"</p></td></tr>
                    <tr><td width="93"><p>25.4</p></td><td width="77"><p>9.5</p></td><td width="81"><p>40</p></td><td width="82"><p>7.5</p></td><td width="87"><p>10"</p></td></tr>
                    <tr><td width="93"><p>25.9</p></td><td width="77"><p>10</p></td><td width="81"><p>40-41</p></td><td width="82"><p>8</p></td><td width="87"><p>10.1875"</p></td></tr>
                    <tr><td width="93"><p>26.2</p></td><td width="77"><p>10.5</p></td><td width="81"><p>41</p></td><td width="82"><p>8.5</p></td><td width="87"><p>10.3125"</p></td></tr>
                    <tr><td width="93"><p>26.7</p></td><td width="77"><p>11</p></td><td width="81"><p>41-42</p></td><td width="82"><p>9</p></td><td width="87"><p>10.5"</p></td></tr>
                    <tr><td width="93"><p>27.1</p></td><td width="77"><p>11.5</p></td><td width="81"><p>42</p></td><td width="82"><p>9.5</p></td><td width="87"><p>10.6875"</p></td></tr>
                    <tr><td width="93"><p>27.6</p></td><td width="77"><p>12</p></td><td width="81"><p>42-43</p></td><td width="82"><p>10</p></td><td width="87"><p>10.875"</p></td></tr>
                </tbody>
            </table>

            <h2 style="text-align: center;" data-mce-style="text-align: center;">QUY ĐỔI SIZE GIÀY NAM</h2>

            <table class="mce-item-table" style="margin-left: auto; margin-right: auto;" data-mce-style="margin-left: auto; margin-right: auto;"><tbody><tr><td width="93"><p><strong><b>Centimet</b></strong></p></td><td width="77"><p><strong><b>Size US</b></strong></p></td><td width="81"><p><strong><b>Size VN</b></strong></p></td><td width="82"><p><strong><b>Size UK</b></strong></p></td><td width="87"><p><strong><b>Inches</b></strong></p></td></tr><tr><td width="93"><p>23.5</p></td><td width="77"><p>6</p></td><td width="81"><p>39</p></td><td width="82"><p>5.5</p></td><td width="87"><p>9.25"</p></td></tr><tr><td width="93"><p>24.1</p></td><td width="77"><p>6.5</p></td><td width="81"><p>39-40</p></td><td width="82"><p>6</p></td><td width="87"><p>9.5"</p></td></tr><tr><td width="93"><p>24.4</p></td><td width="77"><p>7</p></td><td width="81"><p>40</p></td><td width="82"><p>6.5</p></td><td width="87"><p>9.625"</p></td></tr><tr><td width="93"><p>24.8</p></td><td width="77"><p>7.5</p></td><td width="81"><p>40-41</p></td><td width="82"><p>7</p></td><td width="87"><p>9.75"</p></td></tr><tr><td width="93"><p>25.4</p></td><td width="77"><p>8</p></td><td width="81"><p>41</p></td><td width="82"><p>7.5</p></td><td width="87"><p>9.9375"</p></td></tr><tr><td width="93"><p>25.7</p></td><td width="77"><p>8.5</p></td><td width="81"><p>41-42</p></td><td width="82"><p>8</p></td><td width="87"><p>10.125"</p></td></tr><tr><td width="93"><p>26</p></td><td width="77"><p>9</p></td><td width="81"><p>42</p></td><td width="82"><p>8.5</p></td><td width="87"><p>10.25"</p></td></tr><tr><td width="93"><p>26.7</p></td><td width="77"><p>9.5</p></td><td width="81"><p>42-43</p></td><td width="82"><p>9</p></td><td width="87"><p>10.4375"</p></td></tr><tr><td width="93"><p>27</p></td><td width="77"><p>10</p></td><td width="81"><p>43</p></td><td width="82"><p>9.5</p></td><td width="87"><p>10.5625"</p></td></tr><tr><td width="93"><p>27.3</p></td><td width="77"><p>10.5</p></td><td width="81"><p>43-44</p></td><td width="82"><p>10</p></td><td width="87"><p>10.75"</p></td></tr><tr><td width="93"><p>27.9</p></td><td width="77"><p>11</p></td><td width="81"><p>44</p></td><td width="82"><p>10.5</p></td><td width="87"><p>10.9375"</p></td></tr><tr><td width="93"><p>28.3</p></td><td width="77"><p>11.5</p></td><td width="81"><p>44-45</p></td><td width="82"><p>11</p></td><td width="87"><p>11.125"</p></td></tr><tr><td width="93"><p>28.6</p></td><td width="77"><p>12</p></td><td width="81"><p>45</p></td><td width="82"><p>11.5</p></td><td width="87"><p>11.25"</p></td></tr><tr><td width="93"><p>29.4</p></td><td width="77"><p>13</p></td><td width="81"><p>46</p></td><td width="82"><p>12.5</p></td><td width="87"><p>11.5625"</p></td></tr><tr><td width="93"><p>30.2</p></td><td width="77"><p>14</p></td><td width="81"><p>47</p></td><td width="82"><p>13.5</p></td><td width="87"><p>11.875"</p></td></tr><tr><td width="93"><p>31</p></td><td width="77"><p>15</p></td><td width="81"><p>48</p></td><td width="82"><p>14.5</p></td><td width="87"><p>12.1875"</p></td></tr><tr><td width="93"><p>31.8</p></td><td width="77"><p>16</p></td><td width="81"><p>49</p></td><td width="82"><p>15.5</p></td><td width="87"><p>12.5"</p></td></tr></tbody></table>
        </div>
    </div>
</div>