
@{
    ViewBag.Title = "Xacnhanphanhoi";
    Layout = "~/Views/Shared/PageHome.cshtml";
}
<div style="text-align:center"><img src="https://howtovietnamese.com/static/31a8b8b035c35c38fd674ac16e85d54c/cf6bd/blog-thank-you-in-vietnamese.png"></div>
<br>
<h2 style="text-align:center">Cảm ơn bạn đã đóng góp ý kiến. Chúng tối sẽ phản hồi ý kiến một cách sớm nhất</h2>
<p style="text-align:center;font-size:16px">
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "HomePage")
</p>

