
<li class="cart">
    <a href="@Url.Action("Giohang","Giohang")" style="color: black; font-weight: bold; text-decoration: none;">
        <i class="icon-shopping-cart"></i> Giỏ Hàng
    </a>(@ViewBag.Tongsoluong)
</li>
