
@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0" nonce="aSXx2Gnk"></script>
<body style="font-family: Roboto, sans-serif; background: #fff; max-width: 1600px; margin: auto; font-size: 15px">
    <main>
        <div class="header-navigate clearfix mb15">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5">
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-page clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 pd5">
                        <div class="clearfix page-description">
                            <ppp>
                                <img src="~/images/contact.png" style="max-width:100%; height:500px">
                            </ppp>
                            <p style="text-align: center;"><strong></strong><br></p>
                            <p style="text-align: center;"><strong>DKC SNEAKER - SNEAKER FOR LIFE</strong> được thành lập từ năm 2023. Shop chủ yếu kinh doanh mặt hàng giày chính hãng được nhập khẩu từ thương hiệu cao cấp : <em>Adidas</em><br></p>
                            <p style="text-align: center;"><span style="text-decoration: underline;"><em>Số điện thoại:</em></span>&nbsp; 0334620090</p>
                            <p style="text-align: center;"><span style="text-decoration: underline;"><em>Facebook:</em></span> <a href="https://www.facebook.com/chienmintran25"> www.facebook.com/chienmintran25</a></p>
                            <p style="text-align: center;"><span style="text-decoration: underline;"><em>Instagram:</em></span> <a href="https://www.instagram.com/chienmintran/">DKCsneaker</a></p><p><a href="https://www.instagram.com/chienmintran/"></a><br></p><div class="text_exposed_show"><br></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<style>
    ppp {
        display: block;
        text-align: center;
    }
</style>


